html,
body {
  width: 480px;
  background: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 480px;
}

header {
  height: 517px;
  background: #fff url(../img/Home_320.jpg) 56% no-repeat;
  background-size: cover;
}

header .logo {
  padding: 48px 54px 0;
}

header .logo .logo-text {
  font-family: "LeagueGothic";
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

header .logo .logo-text span {
  color: #5E446B;
}

header .home {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 118px;
}

header .home a.home-btn {
  display: none;
}

header .home ul.menu {
  position: absolute;
  left: 120px;
  z-index: 1;
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 257px;
  background: rgba(71, 57, 77, 0.7);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  list-style: none;
}

header .home ul.menu li {
  padding: 5px 50px;
}

header .home ul.menu li:hover {
  background: rgba(40, 30, 47, 0.8);
}

header .home ul.menu a {
  color: #fff;
  text-decoration: none;
}

header .home ul.menu a:hover {
  text-decoration: underline;
}

header .slider {
  position: relative;
}

header .slider h2, header .slider .updates .block h3, .updates .block header .slider h3 {
  text-align: left;
  padding-left: 20px;
  font-family: "LeagueGothic";
  font-size: 36px;
  color: #fff;
}

header .slider h3 {
  text-align: left;
  padding-left: 20px;
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #edbfff;
}

header .slider img {
  display: block;
  margin: 118px auto;
}

header .slider img.phone {
  position: absolute;
  top: -180px;
  left: 260px;
}

.content {
  width: 100%;
  height: 595px;
  background: linear-gradient(to bottom, #745083, #322539);
}

.content article.content-info {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #fff;
  padding-top: 65px;
}

.content article.content-info h2, .content article.content-info .updates .block h3, .updates .block .content article.content-info h3 {
  font-weight: 400;
  padding-left: 72px;
  text-shadow: 0px 1px 0px #0f1518;
}

.content article.content-info p {
  padding-left: 72px;
  font-weight: 300;
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #fff;
}

.content article.content-info a {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #fff;
}

.content article.content-info::before {
  content: '.';
  margin-left: 10px;
  float: left;
  color: transparent;
  display: block;
  width: 30px;
  background: url(../img/article_logo.png) no-repeat;
}

.blog {
  background: #fff;
  height: 416px;
}

.blog .post {
  position: relative;
  width: 256px;
  height: 272px;
  margin: 70px auto;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.blog .post .post-name {
  position: absolute;
  width: 100%;
  left: -24px;
  top: 18px;
}

.blog .post .post-name img {
  float: left;
}

.blog .post .post-name h1 {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #454545;
}

.blog .post .post-name h2, .blog .post .post-name .updates .block h3, .updates .block .blog .post .post-name h3 {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #edbfff;
}

.blog .post .post-text {
  padding: 82px 38px 33px 38px;
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #454545;
}

.blog .post-slider {
  height: 371px;
}

.blog .post-slider img {
  display: block;
  width: 85px;
  margin: 54px auto;
}

.updates {
  padding-top: 92px;
  padding-left: 20px;
  overflow: hidden;
}

.updates h1 {
  text-transform: uppercase;
  font-family: "LeagueGothic";
  font-size: 30px;
  color: #454545;
}

.updates .block {
  margin-top: 21px;
}

.updates .block img {
  float: left;
  margin-right: 17px;
}

.updates .block h2, .updates .block h3 {
  font-family: "Open Sans";
  font-size: 16px;
  color: #454545;
  font-weight: 700;
}

.updates .block h3 {
  font-weight: 300;
}

.updates span.more {
  float: right;
  margin-top: 20px;
  margin-bottom: 92px;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #454545;
}

.sponsors img {
  display: block;
  margin: 76px auto;
}

footer {
  height: 201px;
  background: #fff url(../img/footer-bg.png) 0 0 no-repeat;
}

footer h5, footer h5 span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-right: 2px;
  padding-top: 36px;
}

footer h5 span {
  font-weight: 700;
}
