.menu {
  padding-bottom: 0;
}

.menu--footer {
  display: inline;
  width: 70%;
  background: none;
}

.menu--footer .menu__item {
  visibility: visible;
  display: inline;
  padding-right: 2%;
}

.menu--footer .menu__item:hover {
  background: none;
  border-bottom: none;
}

.menu--footer .menu__link {
  border-bottom: none;
}

.menu--footer .menu__link--home {
  text-shadow: 2px 2px #787878;
}

.slider {
  margin-top: -225px;
  background: rgba(71, 57, 77, 0.3);
}

.slider__phone {
  display: block;
}

.slider__navigation {
  margin: 5% auto 0%;
}

.slider__heading, .slider__heading--small {
  text-align: left;
  padding-left: 40px;
  padding-top: 90px;
}

.slider__heading--small {
  padding-top: 0;
  padding-bottom: 90px;
}

.blog .blog_post {
  width: 418px;
}

.blog .post-slider img {
  margin: 21px auto;
}

.updates {
  padding: 48px 80px 148px 80px;
}

.sponsors__item {
  width: 33%;
}

.sponsors__item--1 {
  background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
}

.sponsors__item--2 {
  background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
}

.sponsors__item--3 {
  background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
}

.sponsors__item--4 {
  background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
}

.sponsors__item--5 {
  background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
}

.sponsors__item--6 {
  background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
}

.news {
  display: block;
}

.footer {
  padding-top: 50px;
  padding-left: 20px;
}
