a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header {
  background: #fff url(../img/Home_320.jpg) 59% no-repeat;
  background-size: cover;
}

.logo {
  text-align: left;
  padding: 48px 10px 0;
  float: left;
}

.logo--info {
  padding: 0;
  float: none;
}

.menu {
  visibility: visible;
  padding-bottom: 0;
  padding-top: 60px;
  display: block;
  background: none;
  width: 99%;
  text-align: center;
  margin-left: 10px;
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
}

.menu--inline .menu__item {
  visibility: visible;
  display: inline;
  padding-right: 50px;
}

.menu__item:hover {
  background: none;
  border-bottom: none;
}

.menu--footer {
  width: 67%;
  padding: 50px 0 0 0;
  text-align: left;
  float: left;
}

.menu--footer .menu__item {
  padding: 0 50px 0 33px;
}

.slider {
  background: rgba(71, 57, 77, 0.3);
  margin-top: 150px;
  padding-left: 150px;
}

.slider__phone {
  display: block;
  top: 280px;
  right: 10%;
  transform: scale(1.4);
}

.slider__navigation {
  margin: 10% 0 0 77%;
  padding-bottom: 5%;
}

.slider__heading {
  text-align: left;
  padding-top: 116px;
  padding-left: 0;
  font-size: 48px;
}

.slider__heading--small {
  padding-bottom: 0;
  padding-left: 0;
  text-align: left;
  font-size: 25px;
}

.slider__text {
  display: block;
  max-width: 500px;
  padding-left: 0;
}

.content__article {
  width: 30%;
  float: left;
  margin: 0 1%;
  padding: 60px 0;
}

.content__article:first-child {
  padding-top: 60px;
}

.content__article:last-child {
  padding-bottom: 60px;
}

.content__text {
  height: auto;
  overflow: visible;
}

.blog {
  float: left;
  width: 50%;
}

.blog__heading {
  float: left;
  padding-right: 5px;
}

.updates {
  width: 40%;
  padding: 120px 0 50px 0;
  margin-top: 40px;
}

.updates__block {
  margin-top: 40px;
}

.updates__more {
  margin-right: 2%;
}

.updates-block__text {
  max-width: 340px;
}

.sponsors__item {
  padding: 0;
  width: 16%;
}

.sponsors__item--1 {
  background: url(../img/sprite-sponsors.png) 45px -305px no-repeat;
}

.sponsors__item--2 {
  background: url(../img/sprite-sponsors.png) 45px -129px no-repeat;
}

.sponsors__item--3 {
  background: url(../img/sprite-sponsors.png) 45px -390px no-repeat;
}

.sponsors__item--4 {
  background: url(../img/sprite-sponsors.png) 45px -215px no-repeat;
}

.sponsors__item--5 {
  background: url(../img/sprite-sponsors.png) 25px 42px no-repeat;
}

.sponsors__item--6 {
  background: url(../img/sprite-sponsors.png) 45px -45px no-repeat;
}

.news {
  display: none;
}

.info {
  display: block;
}

.copyright {
  width: 30%;
  float: right;
  padding-top: 65px;
  padding-right: 80px;
  text-align: right;
}
