.header__logo {
  text-align: left;
  padding: 48px 10px 0;
  float: left;
}

.menu {
  visibility: visible;
  padding-bottom: 0;
  padding-top: 60px;
  display: block;
  background: none;
  width: 100%;
  text-align: center;
  margin-left: 10px;
}

.menu__link--home {
  border-bottom: none;
  text-shadow: 2px 2px #787878;
}

.menu--inline .menu__item {
  visibility: visible;
  display: inline;
  padding-right: 50px;
}

.menu__item:hover {
  background: none;
  border-bottom: none;
}

.menu--footer {
  width: 70%;
  padding: 50px 0 0 0;
  text-align: left;
}

.menu--footer .menu__item {
  padding: 0 10px 0 0;
}

.slider {
  background: rgba(71, 57, 77, 0.3);
  margin-top: 150px;
}

.slider__phone {
  display: block;
  top: 57%;
  right: 10%;
  transform: scale(1.4);
}

.slider__navigation {
  margin: 5% 0% 0% 70%;
  padding-bottom: 15%;
}

.slider__heading {
  text-align: left;
  padding-top: 116px;
  padding-left: 40px;
  font-size: 48px;
}

.slider__heading--small {
  padding-bottom: 0;
  padding-left: 40px;
  text-align: left;
  font-size: 25px;
}

.slider__text {
  display: block;
}

.content__article {
  width: 30%;
  float: left;
  margin: 0 1%;
  padding: 60px 0;
}

.content__article:first-child {
  padding-top: 60px;
}

.content__article:last-child {
  padding-bottom: 60px;
}

.blog {
  float: left;
  width: 50%;
}

.updates {
  width: 50%;
  padding: 87px 0 148px 0;
}

.updates .updates__block {
  margin-top: 40px;
}

.sponsors__item {
  padding: 0;
  width: 16%;
}

.news {
  display: block;
  overflow: auto;
}

.news article {
  width: 33%;
  box-sizing: border-box;
  float: left;
  padding-top: 77px;
}

footer h5 {
  padding-top: 65px;
  padding-right: 80px;
  text-align: right;
  width: 13%;
  float: right;
}
