a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html,
body {
  width: 100%;
  background: #f9f9f9;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.header {
  background: #fff url(../img/Home_320.jpg) 50% no-repeat;
  background-size: cover;
}

.logo {
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  padding: 48px 54px 0;
}

.logo__link {
  color: inherit;
}

.logo--purple {
  text-shadow: none;
  color: #5E446B;
}

.logo--grey {
  text-shadow: none;
  color: #B9B9B9;
}

.menu {
  background: rgba(71, 57, 77, 0.7);
  visibility: hidden;
  position: relative;
  width: 245px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  z-index: 1;
}

.menu:hover {
  visibility: visible;
}

.menu:hover .menu__item {
  visibility: visible;
}

.menu__link {
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  border-width: 5px;
  text-shadow: 2px 2px rgba(153, 137, 137, 0.72);
}

.menu__item {
  visibility: hidden;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.menu__item:hover {
  background: rgba(71, 57, 77, 0.7);
  border-bottom: 2px solid #edbfff;
}

.menu__item:hover .submenu {
  display: block;
  z-index: 1;
}

.menu__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu__item--visible {
  visibility: visible;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu__item--visible:hover ~ .menu__item {
  visibility: visible;
}

.menu--footer {
  display: none;
  background: none;
  border-radius: 0;
}

.slider__heading {
  text-align: center;
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 36px;
  color: #fff;
}

.slider__heading--small {
  text-align: center;
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 18px;
  color: #edbfff;
}

.slider__text {
  display: none;
  width: 41%;
  max-width: 320px;
  padding: 0 0 116px 40px;
  text-align: justify;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

.slider__phone {
  display: none;
  position: absolute;
  right: 5%;
  top: 170px;
}

.slider__navigation {
  display: block;
  width: 100px;
  margin: 20% auto 0;
  padding-bottom: 20%;
}

.content {
  overflow: auto;
  background: linear-gradient(to bottom, #745083, #322539);
  padding: 65px 0;
}

.content__article {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  overflow: auto;
}

.content__article::before {
  content: '.';
  margin-left: 10px;
  float: left;
  color: transparent;
  display: block;
  width: 30px;
  height: 55px;
}

.content__article:nth-child(1)::before {
  background: url(../img/sprite-icons.png) 0 0 no-repeat;
}

.content__article:nth-child(2)::before {
  background: url(../img/sprite-icons.png) 49% 0 no-repeat;
}

.content__article:nth-child(3)::before {
  background: url(../img/sprite-icons.png) 95% 0 no-repeat;
}

.content__heading, .content__text {
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  padding-left: 72px;
  text-shadow: 0 1px 20px #0f1518;
}

.content__text {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  height: 113px;
  width: 100%;
  overflow: hidden;
}

.content__link {
  float: right;
  padding-right: 5px;
  text-transform: uppercase;
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 18px;
  color: #fff;
}

.content__link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.blog {
  background: #f9f9f9;
}

.blog__post {
  position: relative;
  width: 80%;
  margin: 25% 0 0 15%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.blog__name {
  position: absolute;
  width: 100%;
  left: -24px;
  top: 18px;
}

.blog__logo {
  float: left;
  margin-right: 12px;
}

.blog__heading {
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 24px;
  color: #454545;
  text-transform: uppercase;
}

.blog__heading--small {
  color: #edbfff;
}

.blog__text {
  padding: 82px 38px 33px 38px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}

.blog__slider {
  display: block;
  width: 85px;
  margin: 54px auto;
}

.updates {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: hidden;
}

.updates__title {
  text-transform: uppercase;
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 30px;
  color: #454545;
}

.updates__more {
  float: right;
  margin: 20px 20px 0 0;
  text-transform: uppercase;
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 18px;
  color: #454545;
}

.updates__more:hover {
  text-shadow: 0 0 8px #777;
}

.updates-block {
  margin-top: 21px;
  overflow: auto;
}

.updates-block__logo {
  float: left;
  margin-right: 17px;
}

.updates-block__title {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}

.updates-block__text {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  color: #787878;
  max-width: 200px;
  max-height: 22px;
  overflow: hidden;
}

.sponsors {
  width: 100%;
  overflow: auto;
  padding: 50px 45px;
  border-top: 1px solid rgba(206, 206, 206, 0.7);
}

.sponsors__item {
  width: 50%;
  height: 100px;
  float: left;
  list-style: none;
}

.sponsors__item--1 {
  background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
}

.sponsors__item--2 {
  background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
}

.sponsors__item--3 {
  background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
}

.sponsors__item--4 {
  background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
}

.sponsors__item--5 {
  background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
}

.sponsors__item--6 {
  background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
}

.news, .info {
  display: none;
  background: #ECECEC;
}

.news__article, .info__article {
  padding: 0 20px 57px 20px;
}

.news__article:first-child, .info__article:first-child {
  padding-top: 77px;
}

.news__title, .info__title {
  font-family: "LeagueGothic", Arial, sans-serif;
  font-size: 24px;
  color: #454545;
  text-transform: uppercase;
}

.news__text, .info__text {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 16px;
  color: #787878;
}

.info {
  overflow: auto;
  padding: 10px 5px;
}

.info__article {
  width: 33%;
  float: left;
  padding-top: 50px;
}

.info__article:first-child {
  padding-top: 45px;
}

.info__copyright {
  color: #C5C5C5;
}

.footer {
  clear: both;
  height: 201px;
  background: #fff url(../img/footer-bg.png) 51% 0 no-repeat;
}

.copyright, .copyright span {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 2px 0 #555;
  text-align: center;
  padding: 36px 2px 0 0;
}

.copyright span {
  font-weight: 700;
}
