html,
body {
  width: 100%;
  background: #f9f9f9;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.header {
  background: #fff url(../img/Home_320.jpg) 56% no-repeat;
  background-size: cover;
}

.header__logo {
  font-family: "LeagueGothic";
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 48px 54px 0;
}

.header__logo--purple {
  color: #5E446B;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.menu {
  background: rgba(71, 57, 77, 0.7);
  visibility: hidden;
  position: relative;
  width: 245px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  z-index: 1;
}

.menu:hover {
  visibility: visible;
}

.menu:hover .menu__item {
  visibility: visible;
}

.menu:hover .menu__link--home {
  border-bottom: none;
}

.menu__link {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  border-width: 5px;
  text-shadow: 2px 2px rgba(153, 137, 137, 0.72);
}

.menu__link--home {
  border-bottom: 2px solid #edbfff;
}

.menu__item {
  visibility: hidden;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

.menu__item:hover {
  background: rgba(71, 57, 77, 0.7);
  border-bottom: 2px solid #edbfff;
}

.menu__item:hover .submenu {
  display: block;
  z-index: 1;
}

.menu__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu__item--visible {
  visibility: visible;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu__item--visible:hover ~ .menu__item {
  visibility: visible;
}

.menu--footer {
  display: none;
  background: none;
  border-radius: 0;
}

.slider__heading {
  text-align: center;
  font-family: "LeagueGothic";
  font-size: 36px;
  color: #fff;
}

.slider__heading--small {
  text-align: center;
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #edbfff;
}

.slider__text {
  display: none;
  width: 35%;
  padding-left: 40px;
  padding-bottom: 116px;
  text-align: justify;
  font-family: "Open Sans Light";
  font-size: 14px;
  color: #fff;
}

.slider__phone {
  display: none;
  position: absolute;
  right: 5%;
  top: 170px;
}

.slider__navigation {
  margin: 20% auto 0;
  width: 100px;
  display: block;
  padding-bottom: 20%;
}

.content {
  overflow: auto;
  background: linear-gradient(to bottom, #745083, #322539);
}

.content__article {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #fff;
  padding-top: 5px;
  overflow: auto;
}

.content__article::before {
  content: '.';
  margin-left: 10px;
  float: left;
  color: transparent;
  display: block;
  width: 30px;
  height: 55px;
  background: url(../img/article_logo.png) 0 43% no-repeat;
}

.content__article:first-child {
  padding-top: 65px;
}

.content__article:last-child {
  padding-bottom: 65px;
}

.content__heading {
  font-weight: 400;
  padding-left: 72px;
  text-shadow: 0 1px 0 #0f1518;
}

.content__text {
  padding-left: 72px;
  font-weight: 300;
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #fff;
}

.content__link {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #fff;
}

.blog {
  background: #f9f9f9;
}

.blog__post {
  position: relative;
  width: 75%;
  margin: 70px auto 21px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.blog__name {
  position: absolute;
  width: 100%;
  left: -24px;
  top: 18px;
}

.blog__logo {
  float: left;
  margin-right: 12px;
}

.blog__heading {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #454545;
}

.blog__heading--small {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #edbfff;
}

.blog__text {
  padding: 82px 38px 33px 38px;
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #454545;
}

.blog__slider {
  display: block;
  width: 85px;
  margin: 54px auto;
}

.updates {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: hidden;
}

.updates__title {
  text-transform: uppercase;
  font-family: "LeagueGothic";
  font-size: 30px;
  color: #454545;
}

.updates__more {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: "LeagueGothic";
  font-size: 18px;
  color: #454545;
}

.updates-block {
  margin-top: 21px;
}

.updates-block__logo {
  float: left;
  margin-right: 17px;
}

.updates-block__title {
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #454545;
  font-weight: 700;
}

.updates-block__title--small {
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #454545;
  font-weight: 300;
}

.sponsors {
  overflow: auto;
  padding: 50px 45px;
  border-top: 1px solid rgba(206, 206, 206, 0.7);
}

.sponsors__item {
  width: 50%;
  height: 100px;
  float: left;
  list-style: none;
}

.sponsors__item a {
  text-decoration: none;
}

.sponsors__item--1 {
  background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
}

.sponsors__item--2 {
  background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
}

.sponsors__item--3 {
  background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
}

.sponsors__item--4 {
  background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
}

.sponsors__item--5 {
  background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
}

.sponsors__item--6 {
  background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
}

.news {
  display: none;
  background: #ECECEC;
}

.news__article {
  padding: 0 20px 57px 20px;
}

.news__article:first-child {
  padding-top: 77px;
}

.news__title {
  font-family: "LeagueGothic";
  font-size: 24px;
  color: #454545;
  text-transform: uppercase;
}

.news__text {
  font-family: "Open Sans Light";
  font-size: 16px;
  color: #787878;
}

.footer {
  clear: both;
  height: 201px;
  background: #fff url(../img/footer-bg.png) 0 0 no-repeat;
}

.copyright, .copyright span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 2px 0 #555;
  text-align: center;
  padding-right: 2px;
  padding-top: 36px;
}

.copyright span {
  font-weight: 700;
}
