@mixin font ($family, $size, $color:#fff) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

.menu {
  padding-bottom: 0;
  &--footer {
    display: inline;
    width: 70%;
    background: none;
    .menu__item {
      visibility: visible;
      display: inline;
      padding-right: 2%;
      &:hover {
        background: none;
        border-bottom: none;
      }
    }
    .menu__link {
      border-bottom: none;
      &--home {
        text-shadow: 2px 2px #787878;
      }
    }
  }
}

.slider {
  margin-top: -225px;
  background: rgba(71, 57, 77, .3);
  &__phone {
    display: block;
  }
  &__navigation {
    margin: 5% auto 0%;
  }
  &__heading {
    text-align: left;
    padding-left: 40px;
    padding-top: 90px;
    &--small {
      @extend .slider__heading;
      padding-top: 0;
      padding-bottom: 90px;
    }
  }
}

.blog {
  .blog_post {
    width: 418px;
  }
  .post-slider {
    img {
      margin: 21px auto;
    }
  }
}

.updates {
  padding: 48px 80px 148px 80px
}

.sponsors {
  &__item {
    width: 33%;
    &--1 {
      background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
    }
    &--2 {
      background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
    }
    &--3 {
      background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
    }
    &--4 {
      background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
    }
    &--5 {
      background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
    }
    &--6 {
      background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
    }
  }
}

.news {
  display: block;
}

.footer {
  padding-top: 50px;
  padding-left: 20px;
}
