@mixin font ($family, $size, $color:#fff) {
  font-family: $family;
  font-size: $size;
  color: $color;
}


.header__logo {
  text-align: left;
  padding: 48px 10px 0;
}


.menu {
  visibility: visible;
  padding-bottom: 0;
  display: block;
  background: none;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  &__link {
    &--home {
      border-bottom: none;
      text-shadow: 2px 2px #787878;
    }
  }
  &--inline {
    .menu__item {
      visibility: visible;
      display: inline;
      padding-right: 50px;
    }
  }
  &--footer {
    width: 70%;
    float: left;
    .menu__item {
      padding-right: 20px;
    }
  }
  &__item:hover {
    background: none;
    border-bottom: none;
  }
}

.slider {
  background: rgba(71, 57, 77, .3);
  margin-top: 150px;
  &__phone {
    display: block;
    top: 58%;
    right: 10%;
    transform: scale(1.4);
  }
  &__navigation {
    margin: 5% 0% 0% 70%;
    padding-bottom: 15%;
  }
  &__heading {
    text-align: left;
    padding-top: 116px;
    padding-left: 40px;
    font-size: 48px;
    &--small {
      padding-bottom: 0;
      padding-left: 40px;
      text-align: left;
      font-size: 25px;
    }
  }
  &__text {
    display: block;
  }
}

.content {
  &__article {
    width: 30%;
    float: left;
    margin: 0 1%;
    padding: 60px 0;
    &:first-child {
      padding-top: 60px;
    }
    &:last-child {
      padding-bottom: 60px;
    }
  }
}


.blog {
  float: left;
  width: 50%;
}

.updates {
  width: 50%;
  padding: 87px 0 148px 0;
}

.updates .updates__block {
  margin-top: 40px;
}

.sponsors {
  &__item {
    padding: 0;
    width: 16%;
  }
}

.news {
  display: block;
  overflow: auto;
  article {
    width: 33%;
    box-sizing: border-box;
    float: left;
    padding-top: 77px;
  }
}

.footer {
  padding-top: 50px;
  .copyright {
    padding-top: 50px;
    padding-right: 20px;
    text-align: right;
  }
}
