@import "mixin";

.header {
  background: #fff url(../img/Home_320.jpg) 59% no-repeat;
  background-size: cover; 
}

.logo {
  text-align: left;
  padding: 48px 10px 0;
  float: left;
  &--info {
    padding: 0;
    float: none;
  }
}

.menu {
  visibility: visible;
  padding-bottom: 0;
  padding-top: 60px;
  display: block;
  background: none;
  width: 99%;
  text-align: center;
  margin-left: 10px;
  &__link {
    &:hover {
      border-bottom: 2px solid #edbfff;
    }
  }
  &--inline {
    .menu__item {
      visibility: visible;
      display: inline;
      padding-right: 50px;
    }
  }
  &__item:hover {
    background: none;
    border-bottom: none;
  }
  &--footer {
    width: 67%;
    padding: 50px 0 0 0;
    text-align: left;
    float: left;
    & .menu__item {
      padding: 0 50px 0 33px;
    }
  }
}

.slider {
  background: rgba(71, 57, 77, .3);
  margin-top: 150px;
  padding-left: 150px;
  &__phone {
    display: block;
    top: 280px;
    right: 10%;
    transform: scale(1.4);
  }
  &__navigation {
    margin: 10% 0 0 77%;
    padding-bottom: 5%;
  }
  &__heading {
    text-align: left;
    padding-top: 116px;
    padding-left: 0;
    font-size: 48px;
    &--small {
      padding-bottom: 0;
      padding-left: 0;
      text-align: left;
      font-size: 25px;
    }
  }
  &__text {
    display: block;
    max-width: 500px;
    padding-left: 0;
  }
}

.content {
  &__article {
    width: 30%;
    float: left;
    margin: 0 1%;
    padding: 60px 0;
    &:first-child {
      padding-top: 60px;
    }
    &:last-child {
      padding-bottom: 60px;
    }
  }
  &__text {
    height: auto;
    overflow: visible;
  }
}

.blog {
  float: left;
  width: 50%;
  &__heading {
    float: left;
    padding-right: 5px;
  }
}

.updates {
  width: 40%;
  padding: 120px 0 50px 0;
  margin-top: 40px;
  &__block {
    margin-top: 40px;
  }
  &__more {
    margin-right: 2%;
  }
}

.updates-block__text {
  max-width: 340px;
}

.sponsors {
  &__item {
    padding: 0;
    width: 16%;
    &--1 {
      background: url(../img/sprite-sponsors.png) 45px -305px no-repeat;
    }
    &--2 {
      background: url(../img/sprite-sponsors.png) 45px -129px no-repeat;
    }
    &--3 {
      background: url(../img/sprite-sponsors.png) 45px -390px no-repeat;
    }
    &--4 {
      background: url(../img/sprite-sponsors.png) 45px -215px no-repeat;
    }
    &--5 {
      background: url(../img/sprite-sponsors.png) 25px 42px no-repeat;
    }
    &--6 {
      background: url(../img/sprite-sponsors.png) 45px -45px no-repeat;
    }
  }
}

.news {
  display: none;
}

.info {
  display: block;
}

.copyright {
  width: 30%;
  float: right;
  padding-top: 65px;
  padding-right: 80px;
  text-align: right;
}
