.header__logo {
  text-align: left;
  padding: 48px 0 0 5px;
  float: left;
  width: 20%;
}

.header__menu {
  padding: 0;
  padding-top: 50px;
  padding-left: 5px;
  margin: 0;
  overflow: auto;
  border-radius: 0;
  width: 79%;
  box-sizing: border-box;
  &_item {
    float: left;
    display: inline;
    border-radius: 0;
    // width: 100%;
  }
  &_link {
    border: none;
    padding: 0;
  }
}

.submenu {
  display: inline;
  position: static;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: none;
  float: right;
  padding: 0;
  margin: 0;
  width: 550px;
  &__item {
    border: none;
    display: inline-block;
    padding: 0 25px 0 0;
  }
}

.slider {
  margin-top: 140px;
  background: rgba(71, 57, 77, .3);
  clear: both;
  &__phone {
    display: block;
    transform: scale(1.4);
    top: 250px;
  }
  &__navigation {
    margin: 5% auto 0%;
  }
  &__heading {
    text-align: left;
    padding-left: 40px;
    padding-top: 94px;
    &_small {
      @extend .slider__heading;
      padding-top: 0;
      padding-bottom: 5px;
    }
  }
  &__text {
    display: block;
  }
}

.footer-submenu {
  width: 100%;
  overflow: auto;
  &__item {
    display: inline;
    text-transform: uppercase;
    border-bottom: none;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.blog {
  float: left;
  width: 50%;
}

.updates {
  width: 50%;
  padding: 87px 0 148px 0;
}
