@import "mixin";

.menu {
  padding-bottom: 0;
  &--footer {
    display: inline-block;
    width: 100%;
    background: none;
    .menu__item {
      visibility: visible;
      display: inline;
      padding-right: 2%;
      &:hover {
        background: none;
        border-bottom: none;
      }
    }
    .menu__link {
      border-bottom: none;
    }
  }
}

.slider {
  margin-top: -225px;
  background: rgba(71, 57, 77, .3);
  &__phone {
    display: block;
  }
  &__navigation {
    margin: 5% auto 0%;
  }
  &__heading {
    text-align: left;
    padding: 90px 0 0 40px;
    &--small {
      @extend .slider__heading;
      padding-top: 0;
      padding-bottom: 90px;
    }
  }
}

.content__text {
  height: auto;
  overflow: visible;
}

.blog {
  &__post {
    width: 80%;
  }
  &__slider {
      margin: 21px auto;
  }
  &__heading {
    float: left;
    padding-right: 5px;
  }
}


//------------UPDATES SECTION---------//
.updates {
  width: 70%;
}
.updates-block__text {
  @include font('OpenSansLight', 14px, $title);
  max-width: 235px;
  overflow: hidden;
}

//------------SPONSORS SECTION---------//
.sponsors {
  &__item {
    width: 33%;
    &--1 {
      background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
    }
    &--2 {
      background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
    }
    &--3 {
      background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
    }
    &--4 {
      background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
    }
    &--5 {
      background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
    }
    &--6 {
      background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
    }
  }
}

.news {
  display: block;
}

.footer {
  padding-top: 50px;
  padding-left: 10px;
}
