@mixin font ($family, $size, $color:#fff) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

.header__logo {
  text-align: left;
  padding: 48px 10px 0;
  float: left;
}

.menu {
  visibility: visible;
  padding-bottom: 0;
  padding-top: 60px;
  display: block;
  background: none;
  width: 100%;
  text-align: center;
  margin-left: 10px;
  &__link {
    &:hover {
      border-bottom: 2px solid #edbfff;
    }
    &--home {
      border-bottom: 2px solid #edbfff;
    }
  }
  &--inline {
    .menu__item {
      visibility: visible;
      display: inline;
      padding-right: 50px;
    }
  }
  &__item:hover {
    background: none;
    border-bottom: none;
  }
  &--footer {
    width: 70%;
    padding: 50px 0 0 0;
    text-align: left;
    & .menu__item {
      padding: 0 10px 0 0;
    }
  }
}

.slider {
  background: rgba(71, 57, 77, .3);
  margin-top: 150px;
  &__phone {
    display: block;
    top: 75%;
    right: 10%;
    transform: scale(1.4);
  }
  &__navigation {
    margin: 5% 0 0 77%;
    padding-bottom: 15%;
  }
  &__heading {
    text-align: left;
    padding-top: 116px;
    padding-left: 0;
    font-size: 48px;
    &--small {
      padding-bottom: 0;
      padding-left: 0;
      text-align: left;
      font-size: 25px;
    }
  }
  &__text {
    display: block;
    padding-left: 0;
  }
}

.content {
  &__article {
    width: 30%;
    float: left;
    margin: 0 1%;
    padding: 60px 0;
    &:first-child {
      padding-top: 60px;
    }
    &:last-child {
      padding-bottom: 60px;
    }
  }
}

.blog {
  float: left;
  width: 50%;
}

.updates {
  width: 50%;
  padding: 87px 0 148px 0;
  margin-top: 40px;
  &__block {
    margin-top: 40px;
  }
}

.sponsors {
  &__item {
    padding: 0;
    width: 16%;
 }
}

.news {
  display: block;
  overflow: auto;
  &__article {
    width: 33%;
    box-sizing: border-box;
    float: left;
    padding-top: 77px;
  }
}

.copyright {
  padding-top: 65px;
  padding-right: 80px;
  text-align: right;
  width: 30%;
  float: right;
}