html,
body {
  width: 100%;
  background: #f9f9f9;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$white: #fff;

@mixin font ($family, $size, $color:$white) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

.wrapper {
  width: 100%;
}

.header {
  background: $white url(../img/Home_320.jpg) 56% no-repeat;
  background-size: cover;
  &__logo {
    @include font ('LeagueGothic', 48px, $white);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 48px 54px 0;
    &--purple {
      color: #5E446B;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}

.menu {
  background: rgba(71, 57, 77, .7);
  visibility: hidden;
  position: relative;
  width: 245px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  z-index: 1;
  &:hover {
    visibility: visible;
    & .menu__item {
      visibility: visible;
    }
    & .menu__link--home {
      border-bottom: none;
    }
  }
  &__link {
    @include font('LeagueGothic', 24px);
    text-decoration: none;
    border-width: 5px;
    text-shadow: 2px 2px rgba(153, 137, 137, 0.72);
    &--home {
      border-bottom: 2px solid #edbfff;
      //text-shadow: 0 0 5px $white;
    }
  }
  &__item {
    visibility: hidden;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    &:hover {
      background: rgba(71, 57, 77, .7);
      border-bottom: 2px solid #edbfff;
      & .submenu {
        display: block;
        z-index: 1;
      }
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &--visible {
      visibility: visible;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &:hover ~ .menu__item {
        visibility: visible;
      }
    }
  }
  &--footer {
    display: none;
    background: none;
    border-radius: 0;
  }
}

//-----------SLIDER SECTION-------------//

.slider {
  &__heading {
    text-align: center;
    @include font('LeagueGothic', 36px, $white);
    &--small {
      text-align: center;
      @include font('LeagueGothic', 18px, #edbfff);
    }
  }
  &__text {
    display: none;
    width: 35%;
    padding-left: 40px;
    padding-bottom: 116px;
    text-align: justify;
    @include font('Open Sans Light', 14px);
  }
  &__phone {
    display: none;
    position: absolute;
    // left: 55%;
    right: 5%;
    top: 29%;
  }
  &__navigation {
    margin: 20% auto 0%;
    width: 100px;
    display: block;
    padding-bottom: 20%;
  }
}

//------------CONTENT SECTION-----------//

.content {
  overflow: auto;
  background: linear-gradient(to bottom, #745083, #322539);
  &__article {
    @include font('LeagueGothic', 24px);
    padding-top: 5px;
    overflow: auto;
    &::before {
      content: '.';
      margin-left: 10px;
      float: left;
      color: transparent;
      display: block;
      width: 30px;
      height: 55px;
      background: url(../img/article_logo.png) 0 43% no-repeat;
    }
    &:first-child {
      padding-top: 65px;
    }
    &:last-child {
      padding-bottom: 65px;
    }
  }
  &__heading {
    font-weight: 400;
    padding-left: 72px;
    text-shadow: 0px 1px 0px #0f1518;
  }
  &__text {
    padding-left: 72px;
    font-weight: 300;
    @include font('Open Sans Light', 16px);
  }
  &__link {
    float: right;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    @include font('LeagueGothic', 18px);
  }
}

//------------BLOG SECTION-----------//

.blog {
  background: #f9f9f9;
  &__post {
    position: relative;
    width: 75%;
    margin: 70px auto 21px;
    background: $white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  }
  &__name {
    position: absolute;
    width: 100%;
    left: -24px;
    top: 18px;
  }
  &__logo {
    float: left;
    margin-right: 12px;
  }
  &__heading {
    @include font('LeagueGothic', 24px, #454545);
  }
  &__heading--small {
    @include font('LeagueGothic', 24px, #edbfff);
  }
  &__text {
    padding: 82px 38px 33px 38px;
    @include font('Open Sans Light', 16px, #454545);
  }
  &__slider {
    display: block;
    width: 85px;
    margin: 54px auto;
  }
}

//------------UPDATES SECTION---------//

.updates {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: hidden;
  &__title {
    text-transform: uppercase;
    @include font('LeagueGothic', 30px, #454545);
  }
  &__more {
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    text-transform: uppercase;
    @include font('LeagueGothic', 18px, #454545);
  }
}

.updates-block {
  margin-top: 21px;
  &__logo {
    float: left;
    margin-right: 17px;
  }
  &__title {
    @include font('Open Sans Light', 16px, #454545);
    font-weight: 700;
    &--small {
      @include font('Open Sans Light', 16px, #454545);
      font-weight: 300;
    }
  }
}

//------------SPONSORS SECTION-----------//

.sponsors {
  overflow: auto;
  padding: 50px 45px;
  border-top: 1px solid rgba(206, 206, 206, 0.7);
  &__item {
    width: 50%;
    height: 100px;
    float: left;
    list-style: none;
    a {
      text-decoration: none;
    }
    &--1 {
      background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
    }
    &--2 {
      background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
    }
    &--3 {
      background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
    }
    &--4 {
      background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
    }
    &--5 {
      background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
    }
    &--6 {
      background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
    }
  }
}

//------------NEWS SECTION-----------//

.news {
  display: none;
  background: #ECECEC;
  &__article {
    padding: 0 20px 57px 20px;
    &:first-child {
      padding-top: 77px;
    }
  }
  &__title {
    @include font('LeagueGothic', 24px, #454545);
    text-transform: uppercase;
    }
  &__text {
    @include font('Open Sans Light', 16px, #787878);
  }
}

//------------FOOTER SECTION-----------//

.footer {
  clear: both;
  height: 201px;
  background: $white url(../img/footer-bg.png) 0 0 no-repeat;
}
.copyright {
  @include font('Open Sans', 12px);
  font-weight: 300;
  text-shadow: 0px 2px 0 #555;
  text-align: center;
  padding-right: 2px;
  padding-top: 36px;
  span {
    @extend .copyright;
    font-weight: 700;
  }
}
