@import "mixin";

html,
body {
  width: 100%;
  background: #f9f9f9;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.header {
  background: $white url(../img/Home_320.jpg) 50% no-repeat;
  background-size: cover;
}

.logo {
  @include font ('LeagueGothic', 48px, $white);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  padding: 48px 54px 0;
  &__link {
    color: inherit;
  }
  &--purple {
    text-shadow: none;
    color: #5E446B;
  }
  &--grey {
    text-shadow: none;
    color: #B9B9B9;
  }
}

.menu {
  background: rgba(71, 57, 77, .7);
  visibility: hidden;
  position: relative;
  width: 245px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  z-index: 1;
  &:hover {
    visibility: visible;
    & .menu__item {
      visibility: visible;
    }
  }
  &__link {
    @include font('LeagueGothic', 24px);
    border-width: 5px;
    text-shadow: 2px 2px rgba(153, 137, 137, 0.72);
  }
  &__item {
    visibility: hidden;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    &:hover {
      background: rgba(71, 57, 77, .7);
      border-bottom: 2px solid #edbfff;
      & .submenu {
        display: block;
        z-index: 1;
      }
    }
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &--visible {
      visibility: visible;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &:hover ~ .menu__item {
        visibility: visible;
      }
    }
  }
  &--footer {
    display: none;
    background: none;
    border-radius: 0;
  }
}

//-----------SLIDER SECTION-------------//

.slider {
  &__heading {
    text-align: center;
    @include font('LeagueGothic', 36px, $white);
    &--small {
      text-align: center;
      @include font('LeagueGothic', 18px, #edbfff);
    }
  }
  &__text {
    display: none;
    width: 41%;
    max-width: 320px;
    padding: 0 0 116px 40px;
    text-align: justify;
    @include font('Open Sans Light', 14px);
  }
  &__phone {
    display: none;
    position: absolute;
    right: 5%;
    top: 170px;
  }
  &__navigation {
    display: block;
    width: 100px;
    margin: 20% auto 0;
    padding-bottom: 20%;
  }
}

//------------CONTENT SECTION-----------//

.content {
  overflow: auto;
  background: linear-gradient(to bottom, #745083, #322539);
  padding: 65px 0;
  &__article {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    overflow: auto;
    &::before {
      content: '.';
      margin-left: 10px;
      float: left;
      color: transparent;
      display: block;
      width: 30px;
      height: 55px;
    }
    &:nth-child(1)::before {
      background: url(../img/sprite-icons.png) 0 0 no-repeat;
    }
    &:nth-child(2)::before {
      background: url(../img/sprite-icons.png) 49% 0 no-repeat;
    }
    &:nth-child(3)::before {
      background: url(../img/sprite-icons.png) 95% 0 no-repeat;
    }
  }
  &__heading {
    @include font('LeagueGothic', 24px);
    font-weight: 400;
    padding-left: 72px;
    text-shadow: 0 1px 20px #0f1518;
  }
  &__text {
    @extend .content__heading;
    @include font('Open Sans Light', 16px);
    font-weight: 300;
    height: 113px;
    width: 100%;
    overflow: hidden;
  }
  &__link {
    float: right;
    padding-right: 5px;
    text-transform: uppercase;
    @include font('LeagueGothic', 18px);
    &:hover {
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }
  }
}

//------------BLOG SECTION-----------//

.blog {
  background: #f9f9f9;
  &__post {
    position: relative;
    width: 80%;
    margin: 25% 0 0 15%;
    background: $white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  &__name {
    position: absolute;
    width: 100%;
    left: -24px;
    top: 18px;
  }
  &__logo {
    float: left;
    margin-right: 12px;
  }
  &__heading {
    @include font('LeagueGothic', 24px, $title);
    text-transform: uppercase;
    &--small {
      color: #edbfff;
    }
  }
  &__text {
    padding: 82px 38px 33px 38px;
    @include font('Open Sans Light', 16px, $title);
  }
  &__slider {
    display: block;
    width: 85px;
    margin: 54px auto;
  }
}

//------------UPDATES SECTION---------//

.updates {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 100px;
  overflow: hidden;
  &__title {
    text-transform: uppercase;
    @include font('LeagueGothic', 30px, $title);
  }
  &__more {
    float: right;
    margin: 20px 20px 0 0;
    text-transform: uppercase;
    @include font('LeagueGothic', 18px, $title);
    &:hover {
      text-shadow: 0 0 8px #777;
    }
  }
}

.updates-block {
  margin-top: 21px;
  overflow: auto;
  &__logo {
    float: left;
    margin-right: 17px;
  }
  &__title {
    @include font('Open Sans Bold', 16px, $title);
  }
  &__text {
    @include font('Open Sans Light', 14px, $text);
    max-width: 200px;
    max-height: 22px;
    overflow: hidden;
  }
}

//------------SPONSORS SECTION-----------//

.sponsors {
  width: 100%;
  overflow: auto;
  padding: 50px 45px;
  border-top: 1px solid rgba(206, 206, 206, 0.7);
  &__item {
    width: 50%;
    height: 100px;
    float: left;
    list-style: none;
    &--1 {
      background: url(../img/sprite-sponsors.png) 0 -305px no-repeat;
    }
    &--2 {
      background: url(../img/sprite-sponsors.png) 0 -129px no-repeat;
    }
    &--3 {
      background: url(../img/sprite-sponsors.png) 0 -390px no-repeat;
    }
    &--4 {
      background: url(../img/sprite-sponsors.png) 0 -215px no-repeat;
    }
    &--5 {
      background: url(../img/sprite-sponsors.png) -23px 42px no-repeat;
    }
    &--6 {
      background: url(../img/sprite-sponsors.png) 0 -45px no-repeat;
    }
  }
}

//------------NEWS SECTION-----------//

.news {
  display: none;
  background: #ECECEC;
  &__article {
    padding: 0 20px 57px 20px;
    &:first-child {
      padding-top: 77px;
    }
  }
  &__title {
    @include font('LeagueGothic', 24px, $title);
    text-transform: uppercase;
    }
  &__text {
    @include font('Open Sans Light', 16px, $text);
  }
}

//------------INFO SECTION-----------//

.info {
  @extend .news;
  overflow: auto;
  padding: 10px 5px;
  &__article {
    width: 33%;
    float: left;
    padding-top: 50px;
    @extend .news__article;
    &:first-child {
      padding-top: 45px;
    }
  }
  &__title {
    @extend .news__title;
  }
  &__text {
    @extend .news__text;
  }
  &__copyright {
    color: $copyright;
  }
}

//------------FOOTER SECTION-----------//

.footer {
  clear: both;
  height: 201px;
  background: $white url(../img/footer-bg.png) 51% 0 no-repeat;
}
.copyright {
  @include font('Open Sans', 12px);
  font-weight: 300;
  text-shadow: 0 2px 0 #555;
  text-align: center;
  padding: 36px 2px 0 0;
  span {
    @extend .copyright;
    font-weight: 700;
  }
}
